@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&family=Raleway:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    padding: 0 80px;
    max-width: 1300px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: yellowgreen;
    font-family: 'Raleway', 'Public Sans';
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline;
}
.navbar .menu li a{
    color: white;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
}

.Home{
    display: flex;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
    min-height: 500px;
    font-family: 'Raleway', 'Public Sans';
}

.Home .max-width{
    margin: auto 0 auto 49px;
}
.Home .home-content .text1{
    font-size: 27px;
}
.Home .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin: -3px;
}
.Home .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}