@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&family=Raleway:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    padding: 0 80px;
    max-width: 1300px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    /* background: yellowgreen; */
    font-family: 'Raleway', 'Public Sans';
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: yellowgreen;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline;
}
.navbar .menu li a{
    color: white;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.4s ease;
}
.navbar .menu li a:hover{
    color: yellowgreen;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
}
.home{
    display: flex;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
    min-height: 500px;
    font-family: 'Raleway', 'Public Sans';
}
.home .home-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home .home-content .right{
    width: 45%;

}
.home .home-content .left{
    width: 50%;

}
.home .home-content .right img{
    padding-top: 200px;
    height: 700px;
    width: 600px;
    object-fit: cover;
    align-content: center;
}
/* section{
    padding: 100px 0;
} */
.about, .skills{
    padding: 50px 0;
    font-family: 'Raleway', 'Public Sans';
}
.about .title{
    font-family: 'Raleway', 'Public Sans';
    font-size: 35px;
    text-align: center;
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-content .left{
    padding: 10px;
    width: 50%;
}
.about .about-content .right{
    padding-top: 40px;
    width: 50%;
}
.about .about-content .right .info{
    font-size: 20px;
    text-align: justify;
    padding-bottom: 10px;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right a{
display: inline;
background: yellowgreen;
color: black;
font-size: 20px;
padding: 1px 10px;
margin-top: 40px;
border-radius: 6px;
border: 2px solid yellowgreen;
transition: all 0.3sec ease;
}
.home .max-width{
    margin: auto 0 auto 49px;
}
.home .home-content .text1{
    font-size: 27px;
}
.home .home-content .text2{
    font-size: 60px;
    font-weight: 600;
    margin: -3px;
}
.home .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text3 span{
    color: yellowgreen;
}

.menu-btn {
    display: inline-block;
    cursor: pointer;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .skills .title{
    font-family: 'Raleway', 'Public Sans';
    font-size: 35px;
    text-align: center;
}
.skills{
    color: white;
    background: black;
}
.skills .skills-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills .skills-content .card{
    margin-top: 10px;
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}
.skills .skills-content .card i{
    font-size: 45px;
    color: yellowgreen;
}
.skills .skills-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skills .skills-content .card .box{
    transition: all 0.3s ease;
}
.skills .skills-content .card:hover .box{
    transform: scale(1.05);
}

.skills .skills-content .card:hover {
    color: yellowgreen;
}
.skills .skills-content .card:hover i{
    color: white;
}


  @media (max-width: 1300px){
   .home .max-width{
       margin-left: 0px;
   }
  }
  @media (max-width: 945px){
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .column .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .column .rigth{
        flex: 100%;

    }
   }

  @media (max-width: 1104px){
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }
   }
  @media (max-width: 990px){
      .max-width{
          padding: 0 50px;
      }
      .skills .skills-content .card .text{
        font-size: 15px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 5px;
    }
      .navbar .menu{
          position: fixed;
          text-align: center;
          background-color: black;
          height: 100vh;
          width: 100%;
          left: -100%;
          top: 0;
          transition: all 0.3s ease;
      }
      .menu-btn{
          display: block;
          z-index: 999;
      }
      .navbar .menu.active{
        left: 0;
      }
      .navbar .menu li a:hover{
        color: yellowgreen;
        margin-left: 25px;
        font-size: 25px;
        font-weight: 500;
    }

    .about .about-content .column{
        width: 50%;
    }
      .navbar .menu li{
          display: block;
      }
      .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
  }